.black-card {
    background: #FCFCFC;
    /* shadow */
    box-shadow: 10px 32px 72px rgba(51, 51, 51, 0.04);
    border-radius: 5px;
    height: 100%;
    max-height: 382px;
    min-height: 278px;
    width: fit-content;
    max-width: 384px;
    min-width: 260px;
    padding: 20px;
    position: relative;
    margin: 10px 5px;
}

.black-card img {
    width: 100%;
}

.black-card .black-card .floating-card {
    position: absolute;
    top: 40px;
    right: 40px;
    height: fit-content;
    width: 80%;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-card .floating-card .hold {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-card .floating-card span.price {
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #25518C;
}

.black-card .floating-card span.share,
.black-card .floating-card span.love {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin: 0px 8px;
    color: #1C1B1F;
}

.black-card .floating-card span i {
    font-size: 20px;
    color: #1C1B1F;
}

.black-card-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 0px;
}

.black-card-info .left {
    padding: 10px 0px 0px;
}

.black-card-info .left span:nth-child(1) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #1C1B1F;
}

.black-card-info .left span:nth-child(3) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #1C1B1F;
}

.black-card-info .right {
    padding: 0px 0px 0px 20px;
}

.black-card-info .right a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #25518C;
}

.black-card-info .right span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1B1F;
}